/*****
	About Page
*****/
body{
	background-color: #fff;
}
.about-page-searchbar{
	display: flex;
	flex-direction: column;
	align-items: center;
	height:500px;
	width:100%;
	background-image: url('../img/about.jpg');
	background-size: cover;
}
.about-title{
	margin-bottom: 50px;
}
.about-descrip{
	font-size: 1.3rem;
	width:800px;
	line-height: 40px;
}

.about-page-searchbar-title{
	display: inline-block;
	color:#fff;
	height:150px;
	text-align: center;
	font-size: 2rem;
	padding:30px;
	padding-bottom: 10px;
	margin:30px;
}

/*
	Agent Cards
*/
.bold{
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 20px;
}
.about-page-team{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}
.agent-title{
	margin:20px;
}
.agents-cards{
	display: flex;
	justify-content: center;

}
.agent-card{
	width:300px;
	height:300px;
	border:none;
	margin:0 30px;	
	background-color: #ddd;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:20px;
	padding-bottom: 100px;
	border-radius: 50% 50% 0px 0px;
}
.card-el{
	margin:10px;
}
.agent-card img{
	width:200px;
}

.card-social i{
	font-size: 1rem;
}
